<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1<%= title %>></h1>
		<form action="<%= action %>" method="POST">
			<p>Nome:<input type="text" name="fullname" value="<%= docs.fullname %>" /></p>
			<input type="submit" value="Enviar">
		</form>
		<hr />
    	<ul>
	    	<% docs.forEach(function(users) { %>
	    		<li>
	    			<a href="/edit/<%= users._id %>"><%= users.fullname %></a>
	    		</li>
	    	<% }) %>
	    </ul>		
	</body>
</html>